.wrapper {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: 12px;
}

.text span {
  font-weight: 700;
}

.btn {
  cursor: pointer;
  width: 80px;
  height: 24px;
  padding: 4px 12px;
  background-color: white;
  border-radius: 4px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
